.Container {
	display: grid;
	grid-template-rows: 20rem 10rem;
	background-color: var(--background);
}
.Header {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	color: var(--white);
}
.Categories {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.Categories > button:hover {
	cursor: pointer;
	background-color: var(--hover);
	color: var(--white);
}
.addCategory {
	display: grid;
	padding: 1rem 6rem;
	align-items: center;
	font-size: 2rem;
	border-radius: 2rem;
}
.viewCategory {
	padding: 1rem 6rem;
	font-size: 2rem;
	border-radius: 2rem;
}
