.Container {
	display: grid;
}
.header {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	color: var(--white);
}
.main {
	display: grid;
	grid-template-rows: repeat(auto-fill, 8rem);
	justify-content: center;
}
.list {
	display: grid;
	align-items: center;
	width: 40rem;
	grid-template-columns: auto 10% 10%;
	background-color: var(--white);
	border: 1px solid var(--black);
	border-radius: 1.5rem;
	margin: 2rem;
	font-size: 2rem;
}
.name {
	padding-left: 1rem;
	cursor: pointer;
	color: var(--background-content);
}
.edit {
	display: grid;
	justify-content: center;
	cursor: pointer;
}
.edit:hover {
	color: var(--background-content);
}
.delete {
	display: grid;
	justify-content: center;
	cursor: pointer;
}
.delete:hover {
	color: var(--alert);
}
.emptyState {
	display: grid;
}
.emptyState > h1 {
	color: var(--white);
	font-family: Monospace;
	font-size: 2rem;
}
.span {
	color: var(--hover);
}
.span:hover {
	cursor: pointer;
	text-decoration: underline;
	color: var(--background-content);
}
